*{
    box-sizing: border-box;
}
@media screen and (max-width: 480px) {
    body {
      background-color: rgb(222, 222, 139);
    }
  }
body{
    background-image: url(cbc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
/* This is a header */
header{
   width: 100%;
   height: 80px;
   background-color: rgb(241, 237, 235);
   color: rgb(129, 46, 207) ;
}
header, h1{
    float: left;
    margin-left: 45px;
}
header ul,li{
    display: inline-block;
    padding: 8px;
    margin-left:20px;

}
li:hover{
    background-color: rgb(255, 98, 0);
    width: 13vh;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
header a:hover{
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: x-large;
}
header a{
    text-decoration: none;
    color:rgb(129, 46, 207);
    font-weight: bolder;
    font-size: larger;    
}
/* this is content */
.content{
    padding: 6rem;
    margin-left:75px;
    float: left;
    color: whitesmoke;
}
.content h2{
    font-size: xx-large;
    color: rgb(8, 83, 244);
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    padding-top: 30px;
}
/* this is button */
button{
    padding: 10px 12px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(159, 25, 217, 0.858);
    border-color:  rgba(159, 25, 217, 0.858);
    box-shadow: 2px 3px 4px;
    cursor: pointer;
}

 button a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
}
/* this is section */
i{
    width: 40px;
    height: 40px;
    
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
/* about*/

.box-about{
    padding: 2rem;
    margin-left:75px;
    float: left;
    color: rgb(17, 16, 16);
    width: 90%;
    height: 60vh;
    margin-top: 8%;
    border-radius: 5px 5px;
  
}
.box-about h1{
    align-items: center;
    font-size: large;
    color: white;
    float: none;
    background-color: rgba(255, 60, 0, 0.932);
    border: 2px solid;
    display: flex;
    justify-content: center; 
    width: 120px;
    border-color: rgb(232, 234, 236);
    font-family: cursive;
    border-radius: 10px;
}

.box-about p{
    
    font-size: large;
    color: black;
}
.btn-chat{
    width: 150px;
    height: 50px;
    background-color: #ff0000cf;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10%;
}

.btn-chat:hover{
    background-color: rgb(17, 158, 17);
    color: aliceblue;
}
/* Skills*/
.nav-skills{
    width: 300px;
    height: 600px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid orangered;
    background-color:rgb(221, 225, 225);
    float: left;
}
.nav-skills h1{
 
 float: none;   
 color: rgb(28, 187, 28);
 font-weight: bolder;
 font-size: xx-large;
 padding: 5px;
display: flex;
}

.skills h3{
    color:  orangered;
}
.bar{
width: 200px;
height: 30px;
border:1ps solid blueviolet;
background-color: beige;
display: flex;
border-radius: 10px;

}
.spacebar{
    text-align: center;
    color: white;
    border-radius: 10px;
    border:1ps solid blueviolet;
    width: 100px;
    background-color: blueviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Contact*/
.contact:hover{
    width: 40vh;
    height: 100px;
    background-image: url(contact.PNG);
    background-repeat: no-repeat;
    color: rgb(180, 130, 100);
}
.contact-box{
    padding: 7rem;
    margin-left:15%;
    float: left;
    color: rgb(17, 16, 16);
   width: 50%;
   height: 40vh;
   border: 2px solid orangered;
    margin-top: 9%;
    background-color: whitesmoke;
    
}